<div class="main">
  <video 
  playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://spicymarshmallow.s3.us-east-2.amazonaws.com/compressedvideo.mp4" type="video/mp4" />
  </video>
  </video>
  <div class="header">
    <div class="header-logo">
      <img src="assets/images/Workbucks-logo.png">
    </div>
    <ul class="header-nav-list">
      <li class="header-nav-item">
        100 girls in blockchain
      </li>
      <li class="header-nav-item">
        Web3 Discovery
      </li>
      <li class="header-nav-item">
        About us
      </li>
      <li class="header-nav-item">
        Contact us
      </li>
    </ul>
  </div>
  <div class="content"><router-outlet></router-outlet></div>
</div>